{
  email {$ACME_EMAIL}
}
{$DOMAIN} {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    X-Frame-Options SAMEORIGIN
    -Server
  }
  @private path /xmlrpc.php /.env /.git/* /wp-content/debug.log /wp-content/uploads/*.php /wp-content/uploads/*.phtml /wp-content/uploads/*.phar
  respond @private 403
  reverse_proxy wordpress:80
}
